@model IEnumerable<kanban.Models.Item>

@{
    ViewBag.Title = "Tasks";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("My Kanban", "Index", "Items", new { id = "0" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Items", new { id = "0" }, null)</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Items<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Create new item", "Create")</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("All items", "Index", "Items", new { id = "0" }, null)</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Boards<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Create new board", "Create", "Boards")</li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">My boards</li>
                        <li>@Html.ActionLink("Personal", "Index", "Items", new { id = "1" }, null)</li>
                        <li>@Html.ActionLink("Work", "Index", "Items", new { id = "2" }, null)</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<br />

<h2>@ViewBag.Title</h2>

<br />

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading"><strong>To do (@ViewBag.TodoCounter)</strong></div>
            <!-- Table -->
            <table class="table">
                @foreach (var item in (IEnumerable<kanban.Models.Item>)ViewBag.Todo)
                {
                    <tr class="shadowed-danger">
                        <td>
                            <a href="/Items/Details/@item.ID">
                                @if (item.Critical == true)
                                {
                                    <b>@item.shortDescription()</b>

                                }
                                else
                                {
                                    @item.shortDescription()
                                }
                                <br />
                                <small> (@item.daysElapsed())</small>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading"><strong>In process (@ViewBag.InProcessCounter)</strong></div>
            <!-- Table -->
            <table class="table">
                @foreach (var item in (IEnumerable<kanban.Models.Item>)ViewBag.InProcess)
                {
                    <tr class="shadowed-warning">
                        <td>
                            <a href="/Items/Details/@item.ID">
                                @if (item.Critical == true)
                                {
                                    <b>@item.shortDescription()</b>

                                }
                                else
                                {
                                    @item.shortDescription()
                                }
                                <br />
                                <small> (@item.daysElapsed())</small>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-sm-4" style="padding-right:0;">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading"><strong>Finished (@ViewBag.FinishedCounter)</strong></div>
            <!-- Table -->
            <table class="table">
                @foreach (var item in (IEnumerable<kanban.Models.Item>)ViewBag.Finished)
                {
                    <tr class="shadowed-success">
                        <td>
                            <a href="/Items/Details/@item.ID">
                                @if (item.Critical == true)
                                {
                                    <b>@item.shortDescription()</b>

                                }
                                else
                                {
                                    @item.shortDescription()
                                }
                                <br />
                                <small> (@item.daysElapsed())</small>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
