@model IEnumerable<kanban.Models.Item>

@{
    ViewBag.Title = "Tasks";
}

<h2>@ViewBag.Title @ViewBag.Progress%</h2>

<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow=@ViewBag.Progress aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.Progress%;">
    </div>
</div>

<p>
    <div class="text-right">
        <small>
            @Html.ActionLink("Create New", "Create")
        </small>
    </div>
</p>

<div class="panel panel-danger">
    <!-- Default panel contents -->

    

    <div class="panel-heading"><strong>To do (@ViewBag.TodoCounter)</strong></div>
    <!-- Table -->
    <table class="table">
        @foreach (var item in (IEnumerable<kanban.Models.Item>)ViewBag.Todo)
        {
            <tr class="shadowed-danger">
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                    <small>(@item.daysElapsed() days ago)</small>
                </td>
                <td>
                    <div class="text-right">
                        <small>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </small>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading"><strong>In process (@ViewBag.InProcessCounter)</strong></div>
    <!-- Table -->
    <table class="table">
        @foreach (var item in (IEnumerable<kanban.Models.Item>)ViewBag.InProcess)
        {
            <tr class="shadowed-warning">
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                    <small>(@item.daysElapsed() days ago)</small>
                </td>
                <td>
                    <div class="text-right">
                        <small>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </small>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<div class="panel panel-success">
    <!-- Default panel contents -->
    <div class="panel-heading"><strong>Finished (@ViewBag.FinishedCounter)</strong></div>
    <!-- Table -->
    <table class="table">
        @foreach (var item in (IEnumerable<kanban.Models.Item>)ViewBag.Finished)
        {
            <tr class="shadowed-success">
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                    <small>(@item.daysElapsed() days ago)</small>
                </td>
                <td>
                    <div class="text-right">
                        <small>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </small>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>