@model IEnumerable<kanban.Models.Item>

@{
    ViewBag.Title = "Tasks";
}

<h2>@ViewBag.Title @ViewBag.Progress%</h2>

<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow=@ViewBag.Progress aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.Progress%;">
    </div>
</div>

<p>
        <small>
            @Html.ActionLink("Create New", "Create")
        </small>
</p>

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading"><strong>To do (@ViewBag.TodoCounter)</strong></div>
            <!-- Table -->
            <table class="table">
                @foreach (var item in (IEnumerable<kanban.Models.Item>)ViewBag.Todo)
                {
                    <tr class="shadowed-danger">
                        @if (item.Critical == true)
                        {
                            <td><b>@item.shortDescription()</b><br /><small>(@item.daysElapsed())</small></td>
                        }
                        else
                        {
                            <td>@item.shortDescription()<br /><small> (@item.daysElapsed())</small></td>
                        }
                        <td>
                            <div class="text-right">
                                <small>
                                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                                </small>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading"><strong>In process (@ViewBag.InProcessCounter)</strong></div>
            <!-- Table -->
            <table class="table">
                @foreach (var item in (IEnumerable<kanban.Models.Item>)ViewBag.InProcess)
                {
                    <tr class="shadowed-warning">
                        @if (item.Critical == true)
                        {
                            <td><b>@item.shortDescription()</b><br /><small>(@item.daysElapsed())</small></td>
                        }
                        else
                        {
                            <td>@item.shortDescription()<br /><small> (@item.daysElapsed())</small></td>
                        }
                        <td>
                            <div class="text-right">
                                <small>
                                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                                </small>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading"><strong>Finished (@ViewBag.FinishedCounter)</strong></div>
            <!-- Table -->
            <table class="table">
                @foreach (var item in (IEnumerable<kanban.Models.Item>)ViewBag.Finished)
                {
                    <tr class="shadowed-success">
                        @if (item.Critical == true)
                        {
                            <td><b>@item.shortDescription()</b><br /><small>(@item.daysElapsed())</small></td>
                        }
                        else
                        {
                            <td>@item.shortDescription()<br /><small> (@item.daysElapsed())</small></td>
                        }
                        <td>
                            <div class="text-right">
                                <small>
                                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                                </small>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

</div>